@import './utilities.css';
@import './navigation.css';

/* Fonts */
@import '@fontsource/open-sans';

@font-face {
  font-family: "LemonMilk";
  src: url("/fonts/lemon_milk/LEMONMILK-Regular.otf");
}


:root {
  --base-dark: #222222;
  --base-light: #FAFBFB;
}

/* Reset CCS */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--base-dark);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Mobile */
body{
  font-family: 'Open Sans', system-ui, sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, button {
  font-family: 'LemonMilk', system-ui, sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
a {
  font-family: 'Open Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
button {
  font-size: 14px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  body{
    font-size: 20px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
}
/* Desktop*/
@media only screen and (min-width: 1024px) {
  body{
    font-size: 24px;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  a {
    font-size: 20px;
  }
  button {
    font-size: 24px;
  }
}