---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import ImageGallery from "../components/ImageGallery.astro";
import Hours from "../components/Hours.astro";
import Contact from "../components/Contact.astro";
import OnlineOrder from "../components/OnlineOrder.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Pho Street Cafe">
  <main>
    <Hero />
    <Menu />
    <ImageGallery />
    <Hours />
    <Contact />
    <OnlineOrder />
    <Location />
    <Footer />
  </main>
</Layout>
