<section id="hours">
  <h2 class="tx-center">Hours of Operation</h2>
  <div class="days-times">
    <p>Monday-Sunday</p>
    <p>11AM-8PM</p>
  </div>
</section>

<style>
  #hours {
    margin: 40px 0;
    text-align: center;
  }
  #hours h2:first-child {
    text-transform: uppercase;
  }
  .days-times p:first-child {
    margin-top: 20px;
  }
</style>
