<section id="menu">
  <h2 class="tx-center">Menu</h2>
  <div class="menu-container">
    <div class="menu-button-group">
      <button class="menu-links btn-light active" data-menu="appetizers"
        >Appetizers</button
      >
      <button class="menu-links btn-light" data-menu="pho">Pho</button>
      <button class="menu-links btn-light" data-menu="entrees">Entrees</button>
      <button class="menu-links btn-light" data-menu="banh-mi">Banh Mi</button>
    </div>
    <div id="appetizers" class="menu-content">
      <div class="menu-content-header">
        <h3>Viet Egg Rolls (2pcs)</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
    </div>
    <div id="pho" class="menu-content">
      <div class="menu-content-header">
        <h3>Pho</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
    </div>
    <div id="entrees" class="menu-content">
      <div class="menu-content-header">
        <h3>Entrees</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
    </div>
    <div id="banh-mi" class="menu-content">
      <div class="menu-content-header">
        <h3>Banh-mi</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
    </div>
  </div>
</section>

<style>
  #menu {
    margin: 40px 0;
  }
  #menu h2:first-child {
    text-transform: uppercase;
  }
  .menu-container {
    margin: 20px;
  }
  .menu-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 800px;
    overflow-x: auto;
  }
  .menu-button-group button {
    border-radius: 6px;
    display: inline-block;
    padding: 8px 6px;
    margin: 10px 8px;
    min-width: 140px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .menu-button-group button.active {
    background-color: var(--base-dark);
    color: #ffffff;
    border: 1px solid var(--base-dark);
  }
  .menu-content {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .menu-content-header {
    display: flex;
    justify-content: space-between;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  const menuLinks = document.querySelectorAll(".menu-links");
  const menuContent = document.querySelectorAll(".menu-content");

  menuContent.forEach((content) => {
    content.style.display = "none";
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", (e) => {
      const menu = e.target.dataset.menu;
      removeActiveClass();
      menuContent.forEach((content) => {
        content.style.display = "none";
      });
      link.classList.add("active");
      document.getElementById(menu).style.display = "block";
    });
  });

  menuContent[0].style.display = "block";

  const removeActiveClass = () => {
    menuLinks.forEach((link) => {
      link.classList.remove("active");
    });
  };
</script>
