---
import { Image } from "astro:assets";
import Uber from "../assets/images/ubereats-sm.png";
import Chowbus from "../assets/images/chowbus-sm.png";
import Grubhub from "../assets/images/grubhub-sm.png";
---

<section id="order">
  <h2 class="tx-center">Online Ordering Available</h2>
  <div class="order-boxes-mobile">
    <div class="order-btn-group">
      <a
        href="https://pos.chowbus.com/online-ordering/store/15605"
        class="btn-light"
      >
        <Image src={Chowbus} alt="chowbus" class="btn-image" />
      </a>
      <a
        href="https://www.ubereats.com/store/pho-street-cafe/E0prjAv6Qhy5GndiOh1Prg?diningMode=DELIVERY"
        class="btn-light"
      >
        <Image src={Uber} alt="uber eats" class="btn-image" />
      </a>
    </div>
  </div>
  <div class="order-boxes">
    <div class="order-box">
      <span class="order-logos">
        <Image src={Chowbus} alt="chowbus" width="120" />
      </span>
      <a
        href="https://pos.chowbus.com/online-ordering/store/15605"
        class="btn-dark">Online Order</a
      >
    </div>
    <div class="order-box">
      <span class="order-logo-uber">
        <span>Uber</span>
        <span>Eats</span>
      </span>
      <a
        href="https://www.ubereats.com/store/pho-street-cafe/E0prjAv6Qhy5GndiOh1Prg?diningMode=DELIVERY"
        class="btn-dark">Order Now</a
      >
    </div>
  </div>
</section>

<style>
  #order {
    margin: 40px 0;
    text-align: center;
  }
  #order h2:first-child {
    text-transform: uppercase;
  }
  .order-boxes {
    display: none;
  }
  .order-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .order-btn-group a {
    padding: 14px 14px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 70px;
  }
  .btn-image {
    width: auto;
    height: 80%;
    margin: 0 auto;
  }
  @media only screen and (min-width: 768px) {
    .order-boxes-mobile {
      display: none;
    }
    .order-boxes {
      display: flex;
      justify-content: center;
      margin: 25px 20px;
    }
    .order-box {
      border: 1px solid var(--base-dark);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 200px;
      height: 180px;
      margin: 0 10px;
    }
    .order-box a {
      border-radius: 6px;
      margin: 10px auto;
      padding: 2px 10px;
      text-transform: uppercase;
    }
    .order-logos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1 0%;
      font-family: "Open Sans Variable", system-ui, sans-serif;
      margin: 0 auto;
    }
    .order-logo-uber span {
      display: block;
      font-size: 36px;
    }
    .order-logo-uber span:first-child {
      font-weight: 400;
    }
    .order-logo-uber span:last-child {
      font-weight: 700;
      margin-top: -20px;
    }
  }
  .order @media only screen and (min-width: 1024px) {
    .order-box {
      padding: 10px;
      width: 300px;
      height: 300px;
    }
    .order-box a {
      padding: 4px 30px;
    }
  }
</style>
