---
import { Image } from "astro:assets";
import Chowbus from "../assets/images/chowbus-sm.png";
import Grubhub from "../assets/images/grubhub-sm.png";
import Uber from "../assets/images/ubereats-sm.png";
---

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Order Online</h2>
    </div>
    <div class="modal-body">
      <div class="order-btn-group">
        <a
          href="https://pos.chowbus.com/online-ordering/store/15605"
          class="btn-light btn-chowbus"
        >
          <h4>Pick up</h4>
        </a>
        <a
          href="https://www.ubereats.com/store/pho-street-cafe/E0prjAv6Qhy5GndiOh1Prg?diningMode=DELIVERY"
          class="btn-light btn-uber"
        >
          <Image src={Uber} alt="uber eats" class="btn-image" />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    text-align: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }

  /* Modal Content */
  .modal-content {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    padding: 20px;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    height: 75%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  /* The Close Button */
  .close {
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
  }

  .close:hover,
  .close:focus {
    color: #3c3c3c;
    text-decoration: none;
    cursor: pointer;
  }

  span.close {
    display: block;
    text-align: right;
  }

  .modal-header {
    margin-bottom: 16px;
  }
  .modal-header h2 {
    font-size: 32px;
    text-transform: uppercase;
  }

  .modal-body {
    padding: 2px 16px;
  }

  .modal-footer {
    /* position: fixed;
    bottom: 40px; */
    width: 100%;
  }
  .modal-footer p {
    margin: auto;
  }
  .order-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .order-btn-group a {
    padding: 14px 14px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 70px;
  }
  .btn-image {
    width: auto;
    /* max-width: 200px; */
    height: 80%;
    margin: 0 auto;
  }
  .btn-chowbus {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media only screen and (min-width: 768px) {
    .modal {
    }
    /* Modal Content */
    .modal-content {
      border-radius: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fefefe;
      margin: auto;
      padding: 10px;
      height: auto;
      width: 60%;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      animation-name: animatetop;
      animation-duration: 0.4s;
      overflow: auto;
    }
    .order-btn-group a {
      width: 60%;
    }
    .modal-footer {
      position: initial;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {
        bottom: -300px;
        opacity: 0;
      }
      to {
        bottom: 0;
        opacity: 1;
      }
    }

    @keyframes animatetop {
      from {
        bottom: -300px;
        opacity: 0;
      }
      to {
        bottom: 0;
        opacity: 1;
      }
    }
  }
</style>

<script>
  const modal = document.querySelector("#myModal");
  const btns = document.querySelectorAll(".order-modal-btn");
  const span = document.querySelector(".close");

  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      modal.style.display = "block";
    });
  });

  span.addEventListener("click", () => {
    modal.style.display = "none";
  });

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
