---
import { Image } from "astro:assets";
import SlideOne from "../assets/images/beef-pho-carousel.jpg";
import SlideTwo from "../assets/images/banh-mi-carousel.png";
import SlideThree from "../assets/images/spicy-pho-carousel.jpg";
---

<div class="slideshow-container">
  <div class="slide fade">
    <Image src={SlideOne} alt="Beef Pho" />
    <div class="caption">Beef Pho</div>
  </div>

  <div class="slide fade">
    <Image src={SlideTwo} alt="Banh Mi" />
    <div class="caption">Banh Mi</div>
  </div>

  <div class="slide fade">
    <Image src={SlideThree} alt="Spicy Pho" />
    <div class="caption">Spice Pho</div>
  </div>
</div>

<a class="prev">❮</a>
<a class="next">❯</a>

<style>
  img {
    vertical-align: middle;
    height: auto;
    width: 100%;
  }
  .slideshow-container {
    display: none;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .caption {
    opacity: 0;
  }
  .slide:hover .caption {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    top: 320px;
    left: 0;
    font-size: 36px;
    font-weight: 700;
    padding: 20px 30px;
    position: absolute;
    text-transform: uppercase;
    transition: 0.6s ease;
    opacity: 1;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--base-dark);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  @keyframes fade {
    from {
      opacity: 0.75;
    }
    to {
      opacity: 1;
    }
  }
  @media only screen and (min-width: 768px) {
    .slideshow-container {
      display: block;
      height: 500px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .slideshow-container {
      display: block;
      height: 600px;
    }
    .caption {
      padding: 15px 50px;
    }
  }
</style>

<script>
  let slideIndex = 1;
  const prev = document.querySelector(".prev");
  const next = document.querySelector(".next");

  prev.addEventListener("click", () => {
    plusSlides(-1);
  });
  next.addEventListener("click", () => {
    plusSlides(1);
  });
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("slide");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }
</script>
