---
import "../styles/global.css";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import BrandLogo from "../assets/images/psc-logo.png";
import Navigation from "../components/Navigation.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/psc-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <button id="scrollToTop" title="Go to top">
      <Image src={BrandLogo} alt="Pho Street Cafe Logo" width={30} />
    </button>
    <Navigation />
    <slot />
  </body>
</html>

<style>
  #scrollToTop {
    display: none;
    position: fixed;
    top: 20px;
    left: 16px;
    z-index: 1000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  #scrollToTop:hover {
    /* background-color: #555; */
  }
</style>

<script>
  import "../scripts/scroll";
</script>
